# Environnement virtuel
venv/
env/
ENV/
.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Fichiers de configuration IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Fichiers système
.DS_Store
Thumbs.db